[submodule "Orbit/vendor/spdlog"]
	path = Orbit/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Orbit/vendor/GLFW"]
	path = Orbit/vendor/GLFW
	url = https://github.com/TheCherno/glfw
